@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: linear-gradient(132deg, rgba(254,193,194,1) 0%, rgba(154,112,201,1) 100%);
    }

    .container {
        width: 400px;
    }
</style>

<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container p-0 bg-light rounded">
        <div class="d-flex text-center">
            <div class="w-50 py-3">
                <span class="fs-1 text-info">
                    <i class="fa-regular fa-calendar-check"></i>
                </span>
            </div>
            
                <div class="w-50 border-start border-bottom bg-black bg-opacity-10">
                </div>
        </div>

        <div class="p-4">
            <div class="d-flex align-items-center mb-2">
                <div class="me-3 fs-4">
                    <i class="fa-regular fa-square"></i>
                </div>

                <div>
                    Call the dentist
                </div>
            </div>

            <hr />

            <div class="text-decoration-line-through text-black text-opacity-25">
                <div class="d-flex align-items-center mb-2">
                    <div class="me-3 fs-4">
                        <i class="fa-regular fa-square-check"></i>
                    </div>

                    <div>
                        Zero inbox
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>